html::after,
html::before {
  content: "";
  position: fixed;
  z-index: -2;
  border-radius: 50%;
}

html::before {
  height: 100px;
  width: 100px;
  top: 20%;
  left: calc(50% - 650px);
  background-image: linear-gradient(to right bottom, var(--decoration-bg-1), var(--white));
}

html::after {
  height: 150px;
  width: 150px;
  bottom: 20%;
  right: calc(50% - 675px);
  background-image: linear-gradient(to left bottom, var(--decoration-bg-2), var(--white));
}

body {
  --WHITE: hsla(0, 0%, 100%, 0.4);
  --white: hsl(0, 0%, 100%);
  --border-color-1: hsl(0, 0%, 0%, 0.1);
  --border-color-2: hsla(0, 0%, 100%, 0.40);
  --shadow: none;
  background-attachment: fixed;
  padding: 40px 0;
  --backdrop-filter: blur(5px);
  background-image: linear-gradient(to right, var(--gradient-bg-1), var(--gradient-bg-2));
}

body::before {
  content: '';
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.8;
  z-index: -3;
  background-color: var(--WHITE)
}

.main-wrapper {
  max-width: 1200px;
  background-color: var(--WHITE);
  border: 1px solid var(--border-color-1);
  margin: auto;
  border-radius: 20px;
  position: relative;
}

.main-wrappe::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  -webkit-backdrop-filter: var(--backdrop-filter);
  backdrop-filter: var(--backdrop-filter);
  z-index: -1;
  border-radius: 20px;
}